body, html{
  height:100%;
}
body{
  margin: 0px;
  /* background-color:#444; */
  font-size: 18px;
  background-image: url('file:///Users/student/hrsf126-subclass-dance-party/images/bridge.jpg');
  max-height: 929px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border-radius:10px;
  position:absolute;
}

.blinky{
  /* border:10px solid red; */
  height: 150px;
}

.gandalf{
  /* border:10px solid grey; */
  /* border-image-source: url(file:///Users/student/hrsf126-subclass-dance-party/images/gandalf.png); */
  /* background-image: url('file:///Users/student/hrsf126-subclass-dance-party/images/gandalf.png'); */
  height: 100px;

}

.balrog{
  /* border:10px solid rgb(0, 0, 0); */
  height: 200px;
}